header{
    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body{
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    text-align: center;
}

h3{
    text-align: center;
}
ul#input-container {
}

ul#general-input{
    display: inline;
}

ul.input li {
    display: inline;
    list-style-type: none;
}

ul.input form {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.top {
    vertical-align: top;
}

.imageContainer{
    padding: 5px;
}

#status{
    text-align: right;
}